* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

#devTools {
    display: none;
}

/*******************************************************************************************/

body {
    // Default font settings
    font-family: "Zain", sans-serif;
    font-weight: 200;
    font-size: 25px;

    h2 {
        font-weight: 400;
    }

    // Default link colour
    color: white;
    a {color: inherit}

    background-color: black;

    &.no-scroll {
        overflow: hidden;
        height: 100%;
    }
}

#root {    
    box-sizing: border-box;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /***** FOR DEV *****/
    // background-color: rgb(186, 124, 223);
    /*******************/
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100px;
    
    /***** FOR DEV *****/
    // background-color: rgb(218, 66, 66);
    /*******************/

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Fleur De Leah", cursive;
    }

    .toggle-wrapper {
        display:none;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
        
            li {
                text-align: center;
                width: 100px;
                padding: 20px 5px;

                a:hover {
                    color: rgb(187, 16, 16);
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0px;

    font-size: 20px;
    text-align: center;
}

@media (max-width: 1000px) {
    header {
        .toggle-svg-wrapper {
            width: 100px;
            height: 100px;
            
            display: flex;
            justify-content: right;
            align-items: center;

            svg {
                width: 30px;
                height: auto;
            }
        }

        nav {
            display: none;
            flex-direction: column;

            background-color: rgb(73, 73, 73);
            backdrop-filter: blur(100px);
            opacity: 90%;
            position: fixed;
            top: 100px;
            right: 0;

            height: 100vh;
            width: 400px;

            &.open {
                display: flex;
            }

            ul {

                flex-direction: column;

                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    header {
        nav {
            width: 100%;
        }
    }
}